# -----------------------------
# KiCad temporary files
# -----------------------------
*.lck
.history/

# -----------------------------
# Personal KiCad settings
# -----------------------------
*.kicad_prl

# -----------------------------
# Backup files
# -----------------------------
*.bak
*-backups/

# -----------------------------
# ZIP archives
# -----------------------------
*.zip
# KiCad Lock Files
*.lck

# Restore backups
_restore_backup_*/

# Editor history
.history/

# Windows
Thumbs.db
Desktop.ini